.shimmer_container {
    display: flex;
    gap: 30px;
    margin: 0 100px;
    flex-wrap: wrap;
    padding-block: 50px;
  }
  .shimmer-card {
    width: 18.5rem;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 25px;
  }

  /* Shimmer Styling */

.loading {
  text-align: center;
  padding-block: 100px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-image: url(../../assets/hawa.jpg);
  object-fit: cover;
  object-position: 50% 50%;
  background-repeat: no-repeat;
}