/* menu page design  */
.res-menu-header {
  display: flex;
  justify-content: space-between;
  width: 49.5vw;
  margin: auto;
  margin-bottom: 8px;
}
.res-details-menu {
  padding: 23px 15px 15px 15px;
}
.res-img-menu-design-cont {
  width: 300px;
  height: 275px;
}
.res-img-in-menu {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
  border-radius: 15px;
}
.res-name-menu {
  font-size: 35px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(2, 6, 12, 0.92);
}
.outlet-font {
  color: black;
  font-weight: 600;
}
.rating-cont-res-info {
  display: flex;
  align-items: center;
}
.star-svg-cont-res {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-top: -2px;
}
.avg-rating-str {
  color: rgba(2, 6, 12, 0.92);
  line-height: 19px;
  letter-spacing: -0.3px;
  font-weight: 600;
}
.address-label {
  color: black;
  font-weight: 600;
}
.res-address-cont {
  margin-top: 10px;
  width: 30rem;
}
.delivery-time-str-resInfo {
  color: black;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
.menu-page-cont {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 100px;
}
.sevices {
  color: grey;
  padding-block: 10px;
  font-weight: 500;
}
.cuisine {
  color: #b33307;
  margin-block: 10px;
  font-weight: 600;
}
.menuHead {
  background: rgba(2, 6, 12, 0.05);
  height: 48px;
  color: rgba(2, 6, 12, 0.6);
  width: 50%;
  border-radius: 12px;
  margin: auto;
  letter-spacing: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pure-veg-badge {
  padding-block: 5px;
}
/* for small desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .res-img-menu-design-cont {
    width: 16rem;
    height: 15rem;
  }
  .menu-page-cont {
    margin-top: 25px;
    margin-bottom: 75px;
  }
  .res-menu-header {
    width: 72.5vw;
    margin: auto auto 4px;
  }
  .sevices {
    padding-block: 8px;
  }
  .res-name-menu {
    font-size: calc(20px + 0.5vw);
  }
  .res-details-menu {
    padding: 18px 14px 10px;
  }
  .cuisine {
    margin-block: 8px;
    font-size: 14px;
  }
  .rating-cont-res-info {
    font-size: 14px;
  }
  .star-svg-cont-res img {
    width: 18px;
    height: 18px;
  }
  .star-svg-cont-res {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }
  .outlet-section-head {
    font-size: 14px;
  }
  .res-address-cont {
    width: 27rem;
    margin-top: 7px;
    font-size: 14px;
  }
  .delivery-time-str-resInfo {
    margin-top: 7px;
    font-size: 14px;
  }
  .menuHead {
    width: 76%;
    height: 36px;
    font-size: 17px;
  }
}
/* for medium desktops */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .menu-page-cont {
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .res-img-menu-design-cont {
    width: 17rem;
    height: 16rem;
  }
  .res-menu-header {
    width: 64.5vw;
    margin: auto auto 6px;
  }
  .res-name-menu {
    font-size: calc(22px + 0.5vw);
  }
  .cuisine {
    font-size: 15px;
  }
  .rating-cont-res-info {
    font-size: 15px;
  }
  .outlet-section-head {
    font-size: 15px;
  }
  .res-address-cont {
    width: 29rem;
    font-size: 15px;
  }
  .delivery-time-str-resInfo {
    font-size: 15px;
  }
  .menuHead {
    width: 66%;
    height: 42px;
    font-size: 18px;
  }
}
/* For large desktop */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .res-img-menu-design-cont {
    width: 17.5rem;
    height: 16.5rem;
  }
  .res-menu-header {
    width: 58.5vw;
  }
  .res-name-menu {
    font-size: calc(24px + 0.5vw);
  }
  .res-address-cont {
    width: 35rem;
  }
  .menuHead {
    width: 61%;
  }
}
