.res-card {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  width: 18.5rem;
  height: auto;
  transition: transform 0.05s ease 0s;
}
.res-card:hover {
  transform: scale(0.95);
}
/* Card CSS */
.card_box {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.content {
  margin-left: 12px;
}
.foodImg {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 25px;
  height: 250px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}
.starRating_duration {
  display: flex;
  line-height: 19px;
  gap: 3px;
  margin-top: 2px;
}
.res_name {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.xy1 {
  color: rgba(2, 6, 12, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
}
.fn {
  margin-top: 2px;
  overflow: hidden;
  line-clamp: 1;
  width: 100%;
  line-height: 19px;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.rating {
  font-weight: 480;
}
.address {
  font-size: 16px;
}
.duration {
  font-weight: 520;
}
.price {
  font-weight: 520;
  font-size: 15.3px;
  margin-top: 2px;
  color: maroon;
}
.description {
  color: rgba(2, 6, 12, 0.6);
  font-weight: 450;
  margin-top: 5px;
  text-align: justify;
}

/* Higher Order Component */

.promoted {
  position: relative;
  top: 35px;
  left: 0px;
  /* background-color: #3d7a2a; */
  background-color: #3d383869;
  color: white;
  padding: 5px 11px;
  font-size: 14px;
  font-weight: 580;
  font-family: "Questrial", sans-serif;
  border-radius: 5px;
  z-index: 1;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .foodImg {
    height: 200px;
    border-radius: 18px;
  }
  .card_box {
    gap: 9px;
  }
  .res_name {
    font-size: calc(11px + 0.5vw);
  }
  .content {
    margin-left: 9px;
  }
  .starRating_duration img {
    width: 17px;
  }
  .rating {
    font-size: calc(9px + 0.5vw);
    font-weight: 500;
  }
  .duration {
    font-size: calc(9px + 0.5vw);
  }
  .xy1 {
    font-size: calc(8px + 0.5vw);
  }
  .price {
    font-size: calc(7px + 0.5vw);
  }
  .res-card {
    width: 16.5rem;
  }
  .promoted {
    font-size: calc(6px + 0.5vw);
  }
}
/* for medium desktops */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .foodImg {
    height: calc(200px + 0.5vw);
    border-radius: 25px;
  }
  .res_name {
    font-size: calc(12px + 0.5vw);
  }
  .content {
    margin-left: 11px;
  }
  .card_box {
    gap: 8px;
  }
  .starRating_duration {
    font-size: 15px;
  }
  .xy1 {
    font-size: calc(11px + 0.3vw);
  }
  .price {
    font-size: calc(11px + 0.3vw);
  }
  .starRating_duration img {
    width: 19px;
  }
  .res_name{
    font-size: calc(11px + 0.5vw);
  }
  .res-card {
    width: 14.5rem;
  }
  .promoted {
    font-size: calc(6px + 0.5vw);
    padding: 3px 9px;
  }
}
/* For large desktops */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .foodImg {
    height: calc(14.5rem + 0.5vw);
  }
  .res_name {
    font-size: calc(11px + 0.5vw);
  }
  .xy1 {
    font-size: calc(11px + 0.3vw);
  }
  .price {
    font-size: calc(11px + 0.3vw);
  }
  .res-card {
    width: 17.5rem;
  }
}
