.menu-page-load-shimmer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22vw;
  color: rgb(204, 201, 201);
  background-color: black;
  font-weight: 500;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu-page-load-shimmer {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .menu-page-load-shimmer {
    font-size: 28px;
  }
}
