header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  z-index: 5;
  height: 90px;
  position: sticky;  
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.logo-container span {
  font-weight: 600;
  font-size: 30px;
  font-family: "Kalam", cursive;
  font-style: normal;
}
.logo-container {
  margin-left: 25px;
  user-select: none;
}
.raj {
  font-weight: 450;
  font-family: "Kalam", cursive;
  font-style: normal;
  font-size: 18px;
  user-select: none;
}
.pink {
  color: deeppink;
}
.green {
  color: green;
}
.brown {
  color: brown;
}
.offerPng{
  width: 22px;
}
.offerContainer{
  display: flex;
  align-items: center;
  gap: 8px;
}
.newOffer{
  font-size: 11px;
  font-weight: 600;
  color: orange;
  position: relative;
  bottom: 10px;
}
.grocerySection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.groceryImg {
  width: 22px;
  height: 22px;
}
.grocerySection:hover .groceryImg {
  filter: invert(0.5) sepia(1) hue-rotate(-13deg) saturate(4) brightness(1);
}
.offerContainer:hover .offerPng{
  filter: invert(0.5) sepia(1) hue-rotate(-13deg) saturate(4) brightness(1);
}
.navOptions {
  display: flex;
  align-items: center;
}
.navOptions a {
  text-decoration: none;
  color: black;
}
.navOptions a:hover {
  background-color: white;
  color: orange;
  border-radius: 5px;
}
.navOptions li {
  list-style-type: none;
  display: inline-block;
  margin-right: 80px;
  font-size: 17px;
  font-weight: 500;
}
.cart {
  position: relative;
}
.cartString {
  padding-block: 14px;
}
.plate_count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 600;
  color: #01ab6c;
}
/* .cart:hover .plate_cart {
    filter: invert(0.5) sepia(1) hue-rotate(-13deg) saturate(4) brightness(1);
  } */
.plate_cart {
  position: absolute;
  top: 50%;
  right: 43px;
  transform: translateY(-50%);
  line-height: 0;
  background: #d3d3d3;
  border-radius: 50%;
}
.plate_cart img {
  width: 39px;
  filter: invert(1);
}
