/* accordian Body */
.accBody {
  padding: 20px 20px 40px;
}
.categoryHRLine{
  border-bottom: 1px solid lightgray;
}
.dish_Container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 530;
  align-items: flex-start;
  color: rgba(2, 6, 12, 0.75);
  text-align: left;
}
.dishDescription {
  margin: 12px 12px 0 0;
  text-align: left;
  color: rgba(2, 6, 12, 0.6);
  font-size: 16px;
  text-wrap: wrap;
}
.dish_details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.dish-detail-badge-cont{
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  user-select: none;
}
.svg-icon{
  margin-left: 4px;
  line-height: 0;
}
.vegnonveg-icon-svg-like{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.veg-icon-menu {
  background: rgb(247, 255, 249);
  color: rgb(17, 102, 73);
  border: 1px solid rgb(163, 240, 181);
  border-radius: 8px;
  padding: 1px 5px;
}
.nonveg-icon-menu {
  background: rgb(255 247 247);
  border: 1px solid rgb(240 163 163);;
  color: rgb(102 17 17);
  border-radius: 8px;
  padding: 1px 5px;
}
.best-seller-befor-badge{
  width: 26px;
  filter: invert(0.5) sepia(1) hue-rotate(-45deg) saturate(5) brightness(1);
  margin-right: 3px;
}
.best-seller-badge{
  color: #FF6E5A;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.3px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.dish-name-title{
  font-weight: 600;
}
.dishPrice > ::before {
  content: "₹";
  margin-right: 0.1rem;
}
.dishPrice {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.92);
  font-weight: 550;
  margin-top: 4px;
}
.star-container-menu{
  width: 16px;
  height: 16px;
}
.rating-container{
  display: flex;
  margin-top: 12px;
  font-size: 15px;
  align-items: center;
}
.rating-int{
  font-weight: 600;
  color: rgb(17, 102, 73);
  margin-left: 2px;
}
.rating-count-con{
  color: rgba(2, 6, 12, 0.6);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.3px;
  margin-left: 2px;
}
.isImage {
  width: 160px;
  height: 148px;
}
.dishImage img {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.dishImage {
  position: relative;
}
.add_btn {
  padding: 8px 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #1ba672;
  font-weight: 600;
  font-size: 18px;
  border-radius: 9px;
  border: none;
  transition: all 100ms ease-in-out 0s;
  position: absolute;
  top: 130px;
}
.addButtonContainer{
  display: flex;
  justify-content: center;
}
.add_btn:hover {
  background-color: rgb(48, 46, 46);
}
/* For small laptops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .vegnonveg-icon-svg-like{
    font-size: 11px;
  }
  .dish_Container{
    font-size: 16px;
  }
  .dishPrice{
    margin-top: 2px;
    font-size: 14px;
  }
  .rating-container {
    font-size: 12px;
    margin-top: 10px;
  }
  .dishDescription {
    margin: 10px 10px 0 0;
    font-size: 14px;
  }
  .add_btn {
    font-size: 16px;
    padding: 6px 31px;
  }
  .isImage {
    width: 10rem;
    height: 9rem;
  }
  .best-seller-badge {
    font-size: 12px;
  }
  .best-seller-befor-badge{
    width: 23px;
    margin-right: 2px;
  }
}
/* For medium desktops */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .dish_Container{
    font-size: 17px;
  }
  .rating-container {
    margin-top: 10px;
  }
  .dishDescription {
    margin: 11px 11px 0 0;
    font-size: 15px;
  }
  .add_btn {
    font-size: 17px;
    padding: 7px 33px;
  }
  .isImage {
    width: 10.5rem;
    height: 9.5rem;
  }
  .vegnonveg-icon-svg-like{
    font-size: 11.5px;
  }
  .best-seller-badge {
    font-size: 12px;
    margin-left: 10px;
  }
  .best-seller-befor-badge{
    width: 24px;
  }
}